*
!.gitignore
!.gitattributes
!/README.md
!/LICENSE
!/THIRD_PARTY_NOTICES.md
!/MacApp/
!/MacApp/**
MacApp/.build/
MacApp/.swiftpm/
!/script/
!/script/**
dist/
**/.DS_Store
**/.env
**/.env.*
**/config.yaml
**/*.log
**/*.pem
**/*.key
**/*.p12
**/*.mobileprovision
